
*.ali
*.o
ada/examples/
mutex
taskcyclic
taskssporadic
fillerlab
LOG_seq_byte
LOG_seq_float
LOG_seq_integer
LOG_text_float
LOG_text_integer
rwfile
tab1
pseudolosowe
spotkania
streamMatrix
eventsporadic
